<!-- -->
<ion-header>

    <ion-navbar  color="primary">
      <ion-title>
        <span ion-text>{{ trip.name }}</span>
      </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="common-bg">
    <!--slides-->
    <ion-slides class="to-top" pager>
      <ion-slide *ngFor="let image of trip.images">
        <img [src]="image" alt="">
      </ion-slide>
    </ion-slides>
  
    <!--services-->
    <ion-grid class="border-bottom dark-bg">
      <ion-row>
        <ion-col text-center>
          <div class="text-sm">
            <div>
              <ion-icon name="time" class="text-white"></ion-icon>
              <span ion-text color="light">{{ trip.time }}</span>
              <ion-icon name="checkbox-outline" margin-left class="text-white" *ngIf="trip.free_cancellation"></ion-icon>
              <span ion-text color="light" *ngIf="trip.free_cancellation">Free cancellation</span>
              <ion-icon name="list-box" margin-left class="text-white" *ngIf="trip.electric_voucher"></ion-icon>
              <span ion-text color="light" *ngIf="trip.electric_voucher">Electronic voucher</span>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <!--high light-->
    <div class="border-bottom" padding>
      <span ion-text color="dark" class="bold">HIGHLIGHT</span>
      <ul class="highlight">
        <li *ngFor="let highlight of trip.highlights">
          <ion-icon name="checkmark" class="text-green"></ion-icon>
          <span ion-text color="primary">{{ highlight }}</span>
        </li>
      </ul>
    </div>
  
    <!--booking form-->
    <div class="booking-form card round" margin>
      <div class="border-bottom" padding>
        <h5>{{ trip.sub_name }}</h5>
  
        <!--choose guest-->
      
          
      </div>
     
    </div>
    <div class="border-bottom" padding>
      <span ion-text color="primary" class="bold">LOCATION</span>
      <p ion-text>{{ trip.location }}</p>
    </div>
  
    <!--description-->
    <div class="border-bottom" padding>
      <span ion-text color="primary" class="bold">About</span>
      <p ion-text>{{ trip.description }}</p>
    </div>
  
    <!--address-->
    
    <div padding class="form-bottom">
      <!--       <span ion-text color="dark" class="bold">{{ adults }} Adults</span> -->
            <!--booking button-->
            
            <button ion-button icon-start block color="secondary"tappable (click)="checkoutet()" class="submit-btn" *ngIf="!loggedin">
              Book Now  
              </button>
            <div class="clear"></div>
          </div>
  </ion-content>
  