.category-v1 {
height: 100%;

    ion-row {
       
        height: 100%;
        ion-col {
            height: 19%;
            text-align: center;
            img {
                height: 110px;
                width: 110px;
                border-radius: 50%;
                border: 1px solid $color2;
            }
            p {
                line-height: 0;
            }
        }
    }
}
    .background {
        height: 100%;
        background:  url("../assets/img/tt.jpg") no-repeat;
        background-size: cover;
        /* Logo style */
        .logo {
            height: 50%;
            padding-top: 10%;
            text-align: center;
            color: #fff;
            img {
                width: 200px;
                border-radius: 50%;
            }
        }
    }
    

