<!-- Cart Page -->

<!-- Header -->
<ion-header no-border>
  <ion-toolbar color="white">
    <ion-title>
      Cart Items
    </ion-title>
    <ion-buttons start>
      <!-- Dismiss button -->
      <button ion-button (click)="dismiss()">
         <span ion-text color="color2">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content id="cart-v1">
  <ion-list>

    <!-- Cart Item product details -->
    <ion-item text-wrap *ngFor="let product of products; let i = index">

      <ion-thumbnail item-left>
        <img [src]="product.productInfo.image" imageViewer>
      </ion-thumbnail>

      <h2>{{product.productInfo.name}}</h2>
      <p>Quantity: {{product.quantity}} * Price: ${{product.productInfo.price}} = ${{ product.productInfo.price * product.quantity
        }}
      </p>

      <button ion-button clear item-right color="color2" (click)="removeItem(product.productInfo.id, i, product.productInfo.price * product.quantity)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>

    <!-- Total price -->
    <ion-item *ngIf="products.length > 0">
      <span text-left ion-text color="color2">Subtotal</span>
      <span item-right ion-text color="color2"> ${{ totalPrice }}</span>
    </ion-item>

    <!-- When product not exist -->
    <div class="empty-cart" *ngIf="products.length == 0">
      <img src="https://s3-us-west-2.amazonaws.com/fulcrumy-ionic2/shopping_cart.jpg">
    </div>

  </ion-list>
</ion-content>

<!-- Footer Option -->

<!--
  - Check products length 
  - If products length  greater than zero then show checkout button option 
-->
<ion-footer *ngIf="products.length > 0" color="white">
  <button ion-button full color="color2">Checkout</button>
</ion-footer>