#newsfeed-v1 {
  .scroll-content {
    background: rgb(228, 228, 228);
  }
  img {
    border-radius: 0;
  }
  ion-list {
    ion-item {
      h2 {
        font-family: serif;
        font-size: 16px;
        color: #44a4a0;
      }
      button {
        float: right;
      }
      ion-textarea {
        resize: both;
        // height: 150px;
      }
    }
  }
}